<div class="wrapper" >
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="index3.html" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li>
    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#"><i
            class="fas fa-th-large"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">login</a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li >
            <a href="/dashboard" class="nav-link ">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                &nbsp; Dashboard
                <i ></i>
              </p>
            </a>
          </li>
          <li>
            <a href="/place-order" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                &nbsp; Place Order
              </p>
            </a>
          </li>
          <li>
            <a href="/order-history" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
               &nbsp;  Order History
              </p>
            </a>
          </li>
          <li>
            <a href="/holdings" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
               &nbsp; Holdings
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  
  <!-- /.content-wrapper -->
  <div class="content-wrapper" style="background-color:white;">
  
  <div *ngIf="Holdings.length !== 0">
<div>
<div class="input-group">
	<div class="form-outline">
	<h3 style="text-align:center;">Search Current Holdings</h3>
    <input #myInput type="text" [(ngModel)]="search" placeholder="Search using Stock Ticker" name="search" (input)="Search()">

  <table class="table table-striped table-dark">
    <thead>
		  <tr>
			<th scope="col">Stock Ticker</th>
			<th scope="col">Company name</th>
			<th scope="col">Quantity</th>
			<th scope="col">Average Price</th>		
		  </tr>
		</thead>
		<tbody>	
		<tr>
			<td>AMZN</td>
			<td>amazon.com Inc</td>
			<td>5</td>
			<td>3421.57</td>
		</tr>
		<tr>
			<td>AAPL</td>
			<td>Apple INC.</td>
			<td>3</td>
			<td>153.12</td>
		</tr>
		</tbody>
  </table>
</div>
</div>
    
    
  </div>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    
  </footer>
</div>
<!-- ./wrapper -->

