<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
  </head>
  <body>
    <div class="main">
      <section class="login">
        <div class="container">
          <div class="login-content">
            <form
              #loginform="ngForm"
              (ngSubmit)="login()"
              method="POST"
              id="login-form"
              class="login-form"
            >
              <h2 class="form-title">Login</h2>
              <small class="text-danger">{{ msg }}</small>
              <div class="form-group">
                <input
                  type="email"
                  class="form-input"
                  name="email"
                  id="email"
                  placeholder="Your Email"
                  [(ngModel)]="user.email"
                  required
                  pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
                  #email="ngModel"
                  [class.is-invalid]="email.invalid && email.touched"
                />
                <div *ngIf="email.errors && (email.invalid && email.touched)">
                  <small
                    class="text-danger"
                    *ngIf="email.errors.required">
                   Email id is a required field</small
                  >
                  <small
                    class="text-danger"
                    *ngIf="email.errors.pattern">
                   Enter the valid email id</small
                  >
                </div>
              </div>

              <div class="form-group">
                <input
                  type="password"
                  class="form-input"
                  name="password"
                  id="password"
                  placeholder="Password"
                  [(ngModel)]="user.password"
                  required
                  #password="ngModel"
                  [class.is-invalid]="password.invalid && password.touched"
                />
                <small
                  class="text-danger"
                  [class.d-none]="password.valid || password.untouched"
                  >Password is a required field</small
                >

                <span
                  toggle="#password"
                  class="zmdi zmdi-eye field-icon toggle-password"
                ></span>
              </div>

              <div class="form-group">
                <input
                [disabled] = "loginform.form.invalid"
                  type="submit"
                  name="submit"
                  id="submit"
                  class="form-submit"
                  value="Login"
                />
              </div>
            </form>
            <p class="loginhere">
              Don't have account ?
              <a href="/register" class="loginhere-link">Register here</a>
            </p>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
