.container-table {
  padding-top: 80px;
  margin-left: 40px;
  margin-right: 40px;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
.form-outline input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #F2F2F2;
  float: left;
  margin-bottom: 10px;
  width: 50%;
  background: #f1f1f1;
  border-radius: 3px;
}

/* Style the submit button */
.form-outline button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border-radius: 3px;
}

.form-outline button:hover {
  background: #0b7dda;
}

/* Clear floats */
.form-outline::after {
  content: "";
  clear: both;
  display: table;
}

.form-outline{
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}