<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard</title>
  </head>
  <body>
  <div class="wrapper" >
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="index3.html" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li>
    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#"><i
            class="fas fa-th-large"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">login</a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li >
            <a href="/dashboard" class="nav-link ">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                &nbsp; Dashboard
                <i ></i>
              </p>
            </a>
          </li>
          <li>
            <a href="/place-order" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                &nbsp; Place Order
              </p>
            </a>
          </li>
          <li>
            <a href="/order-history" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
               &nbsp;  Order History
              </p>
            </a>
          </li>
          <li>
            <a href="/holdings" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
               &nbsp; Holdings
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  
  <!-- /.content-wrapper -->
  <div class="content-wrapper" style="background-color:white;">
  
        <section class="profile">
      <header class="header">
        <div class="details">
          <img
            src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=b38c22a46932485790a3f52c61fcbe5a"
            alt="John Doe"
            class="profile-pic"
          />
          <h1 class="heading">MoneyBytes</h1>

          <p>moneybytes654@gmail</p>
        </div>
      </header>
    </section>

    <!-- <div class="main">
      <section>
        <input
          type="text"
          class="form-input"
          name="symbol"
          id="symbol"
          [(ngModel)]="extapi_get.symbol"
          #symbol_get="ngModel"
        />
        <button (click)="getEnquiryData()">Search</button>
      </section>
    </div> -->

          
    <div class="panel panel-primary" id="result_panel">
      <div class="panel-heading">
        <h3 class="panel-title" style="text-align: center; margin-top:10px;">Available Stocks</h3>
      </div>
      <div class="panel-body ">
        <ul class="list-group">
          <li class="list-group-item"> <a class="a-link" [routerLink]="['/place-order']"
  [queryParams]="{symbol: 'AAPL'}" ><strong>Apple Inc (AAPL)</strong></a></li>
          <li class="list-group-item"><a class="a-link" [routerLink]="['/place-order']"
  [queryParams]="{symbol: 'MSFT'}"><strong>Microsoft Corporation (MSFT)</strong></a></li>
          <li class="list-group-item"><a class="a-link" [routerLink]="['/place-order']"
  [queryParams]="{symbol: 'AMZN'}"><strong>Amazon.com Inc (AMZN)</strong></a></li>
          <li class="list-group-item"><a class="a-link" [routerLink]="['/place-order']"
  [queryParams]="{symbol: 'GOOG'}"><strong>Alphabet Inc - Class C (GOOG)</strong></a></li>
          <li class="list-group-item"><a class="a-link" [routerLink]="['/place-order']"
  [queryParams]="{symbol: 'BABA'}"><strong>Alibaba Group Holding Ltd (BABA)</strong></a></li>
          <li class="list-group-item"><a class="a-link" [routerLink]="['/place-order']"
  [queryParams]="{symbol: 'FB'}"><strong>Facebook Inc - Class A (FB)</strong></a></li>
          <li class="list-group-item"><a class="a-link" [routerLink]="['/place-order']"
  [queryParams]="{symbol: 'VOD'}"><strong>Vodafone Group plc (VOD)</strong></a></li>
          <li class="list-group-item"><a class="a-link" [routerLink]="['/place-order']"
  [queryParams]="{symbol: 'JPM'}"><strong>JPMorgan Chase & Company (JPM)</strong></a></li>
          <li class="list-group-item"><a class="a-link" [routerLink]="['/place-order']"
  [queryParams]="{symbol: 'JNJ'}"><strong>Johnson & Johnson (JNJ)</strong></a></li>
          <li class="list-group-item"><a class="a-link" [routerLink]="['/place-order']"
  [queryParams]="{symbol: 'WMT'}"><strong>Walmart Inc (WMT)</strong></a></li>
          <li class="list-group-item"><a class="a-link" [routerLink]="['/place-order']"
  [queryParams]="{symbol: 'MA'}"><strong>Mastercard Incorporated - Class A (MA)</strong></a></li>
          <li class="list-group-item"><a class="a-link" [routerLink]="['/place-order']"
  [queryParams]="{symbol: 'PG'}"><strong>Procter and Gamble Company (PG)</strong></a></li>
          <li class="list-group-item"><a class="a-link" [routerLink]="['/place-order']"
  [queryParams]="{symbol: 'TSM'}"><strong>Taiwan Semiconductor Manufacturing (TSM)</strong></a></li>
          <li class="list-group-item"><a class="a-link" [routerLink]="['/place-order']"
  [queryParams]="{symbol: 'CHT'}"><strong>Chunghwa Telecom (CHT)</strong></a></li>
          <li class="list-group-item"><a class="a-link" [routerLink]="['/place-order']"
  [queryParams]="{symbol: 'UNH'}"><strong>Unitedhealth Group Inc (UNH)</strong></a></li>
          <li class="list-group-item"><a class="a-link" [routerLink]="['/place-order']"
  [queryParams]="{symbol: 'BAC'}"><strong>Bank Of America Corp (BAC)</strong></a></li>
          <li class="list-group-item"><a class="a-link" [routerLink]="['/place-order']"
  [queryParams]="{symbol: 'HD'}"><strong>Home Depot Inc (HD)</strong></a></li>
          <li class="list-group-item"><a class="a-link" [routerLink]="['/place-order']"
  [queryParams]="{symbol: 'CSCO'}"><strong>Cisco Systems Inc (CSCO)</strong></a></li>
          <li class="list-group-item"><a class="a-link" [routerLink]="['/place-order']"
  [queryParams]="{symbol: 'NVD'}"><strong>NVIDIA Corp (NVD)</strong></a></li>
          <li class="list-group-item"><a class="a-link" [routerLink]="['/place-order']"
  [queryParams]="{symbol: 'NFLX'}"><strong>NetFlix Inc (NFLX)</strong></a></li>
          <li class="list-group-item"><a class="a-link" [routerLink]="['/place-order']"
  [queryParams]="{symbol: 'ORCL'}"><strong>Oracle Corp (ORCL)</strong></a></li>
          <li class="list-group-item"><a class="a-link" [routerLink]="['/place-order']"
  [queryParams]="{symbol: 'BA'}"><strong>Boeing Company (BA)</strong></a></li>
        </ul>
      </div>
    </div>
    
  </div>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    
  </footer>
</div>
<!-- ./wrapper -->


  </body>
</html>
