<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="wrapper" >
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="index3.html" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li>
    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#"><i
            class="fas fa-th-large"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">login</a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li >
            <a href="/dashboard" class="nav-link ">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                &nbsp; Dashboard
                <i ></i>
              </p>
            </a>
          </li>
          <li>
            <a href="/place-order" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                &nbsp; Place Order
              </p>
            </a>
          </li>
          <li>
            <a href="/order-history" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
               &nbsp;  Order History
              </p>
            </a>
          </li>
          <li>
            <a href="/holdings" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
               &nbsp; Holdings
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  
  <!-- /.content-wrapper -->
  <div class="content-wrapper" style="background-color:white;">
  
    
<section class="place-order">
  <h1 class="title"></h1>
  <form
    class="contact-form row"
    #placeOrderForm="ngForm"
    (ngSubmit)="submit()"
    method="POST"
  >
    <div class="form-field col-lg-6">
      <input
        id="stockTicker"
        class="input-text js-input"
        name="stockTicker"
        [(ngModel)]="orderDetails.stockTicker"
        type="text"
        required
      />
      <label class="label" for="stockTicker">Stock</label>
    </div>
    <div class="form-field col-lg-6">
      <input
        id="price"
        name="price"
        class="input-text js-input"
        [(ngModel)]="orderDetails.price"
        type="number"
        required
        min="0"
      />
      <label class="label" for="price">Price</label>
    </div>
    <div class="form-field col-lg-6">
      <input
        id="volume"
        name="volume"
        class="input-text js-input"
        [(ngModel)]="orderDetails.volume"
        type="number"
        required
        min="0"
      />
      <label class="label" for="volume">Quantity</label>
    </div>
    <div class="form-field col-lg-6">
      <input id="tprice"  name="tprice" class="input-text js-input tprice" type="number" required />
      <label class="label" for="tprice">Total Price</label>
    </div>

    <div class="form-field text-center">
      <input
        name="submit"
        id="submit"
        class="form-submit submit-btn"
        type="submit"
        value="Buy"
      />
    </div>
  </form>
</section>

    
  </div>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    
  </footer>
</div>
<!-- ./wrapper -->

