<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Register</title>
  </head>
  <body>
    <div class="main">
      <section class="signup">
        <div class="container">
          <div class="signup-content">
            <form
              #registerform="ngForm"
              (ngSubmit)="submit()"
              method="POST"
              id="signup-form"
              class="signup-form"
            >
              <h2 class="form-title">Create account</h2>
              <small class="text-danger">{{
                msg
              }}</small>
              <div class="form-group">
                <input
                  type="text"
                  class="form-input-name"
                  name="fname"
                  id="fname"
                  placeholder="First Name"
                  [(ngModel)]="user.fname"
                  style="margin-right: 14px"
                />

                <input
                  type="text"
                  class="form-input-name"
                  name="lname"
                  id="lname"
                  placeholder="Last Name"
                  [(ngModel)]="user.lname"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-input"
                  name="username"
                  id="username"
                  placeholder="Username"
                  [(ngModel)]="user.username"
                  required
                  #username="ngModel"
                  [class.is-invalid]="username.invalid && username.touched"
                />
                <small
                  class="text-danger"
                  [class.d-none]="username.valid || username.untouched"
                >
                  Username is a required field</small
                >
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-input"
                  name="email"
                  id="email"
                  placeholder="Email"
                  [(ngModel)]="user.email"
                  required
                  pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
                  #email="ngModel"
                  [class.is-invalid]="email.invalid && email.touched"
                />
                <div *ngIf="email.errors && email.invalid && email.touched">
                  <small class="text-danger" *ngIf="email.errors.required">
                    Email id is a required field</small
                  >
                  <small class="text-danger" *ngIf="email.errors.pattern">
                    Enter the valid email id</small
                  >
                </div>
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-input"
                  name="password"
                  id="password"
                  placeholder="Password"
                  [(ngModel)]="user.password"
                  required
                  #password="ngModel"
                  [class.is-invalid]="password.invalid && password.touched"
                />
                <small
                  class="text-danger"
                  [class.d-none]="password.valid || password.untouched"
                >
                  Password is a required field</small
                >
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-input"
                  name="cpassword"
                  id="cpassword"
                  placeholder="Repeat your password"
                  required
                  #cpassword="ngModel"
                  (ngModel) ="user.password"
                  [class.is-invalid]="cpassword.invalid && cpassword.touched"
                />
                <small
                  class="text-danger"
                  [class.d-none]="
                    cpassword.value == password.value || cpassword.untouched
                  "
                >
                 Password and confirm password must be same</small
                >
              </div>

              <div class="form-group">
                <input
                [disabled]="registerform.form.invalid"
                  type="submit"
                  name="submit"
                  id="submit"
                  class="form-submit"
                  value="Sign up"
                />
              </div>
            </form>
            <p class="loginhere">
              Have already an account ?
              <a href="/login" class="loginhere-link">Login here</a>
            </p>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
